[Unit]
Description=Labtunnel for %i.
Requires=labtunnel-listener@%i.socket
After=labtunnel-listener@%i.socket

[Install]
Also=labtunnel-listener@%i.socket
WantedBy=network.target

[Service]
ExecStartPre=mkdir -p %t/labtunnel
ExecStartPre=touch -c %t/labtunnel/v0.1.0.%i.sock
ExecStart=/usr/bin/ssh -CTNqv \
	-D %t/labtunnel/v0.1.0.%i.sock \
	-o "ExitOnForwardFailure=yes" \
	-o "StreamLocalBindUnlink=yes" \
	-o "NoHostAuthenticationForLocalhost=yes" \
	%i
ExecStartPost=/usr/bin/notify-send -u low \
	-t 3000 -i network-transmit-receive \
	-c "network.connected" "%i" "labtunnel open"
ExecStartPost=/usr/bin/canberra-gtk-play -i service-login
ExecStopPost=/usr/bin/notify-send -u low \
	-t 3000 -i network-offline \
	-c "network.disconnected" "%i" "labtunnel closed"
ExecStopPost=/usr/bin/canberra-gtk-play -i service-logout
Restart=no

