[Unit]
Before=labtunnel@%i.service
Wants=labtunnel@%i.service

[Install]
WantedBy=network.target

[Service]
#EnvironmentFile=%h/.config/systemd/user/labtunnel.env
ExecStartPre=mkdir -p %t/labtunnel
ExecStart=/lib/systemd/systemd-socket-proxyd %t/labtunnel/v0.1.0.%i.sock
